# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
akun.txt
ktp/
tokopedia_session_new/

akun_verification.txt

cekbot.txt

stealth.min.js

config.yml

tokopedia_lib.zip

logger_credentials.json

cekbot.zip
asset_sampah
emailmumet.zip

*.jpeg
test/tokopedia_test.db

tokopedia_data.db

credentials.json

dist/bin/tokopedia.upx

dist/

test/temp/
test/data/fcity_tokopedia.json

bambang.zip
test/tokopedia_chat_test.db